/* This where I style the header */
header {
    background-image: url("../images/headerimg4.jpg");
    width: 100%;
    background-size: cover;
    height: 100vh;
    margin-bottom: 1%;
    border-bottom: solid #bc7a29e3;
}


/* this where i put a body image */

body {
    background-image: url("../images/pexels-vishnurnair-1105666.jpg");
    background-attachment: fixed;
    background-position: cover;
    image-orientation: flip;
    
}

/* This is where I style the nav bar */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100vw;
    margin: auto;
    background-color: #ac2922cc;
    border-bottom: 2px solid rgb(255, 255, 255);

}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.nav-items a {
    color: rgb(221, 220, 220);
    font-size: 15px;
    font-family: myFont;
    font-weight: 550;
    letter-spacing: 0.5px;
    position: relative;
}


.nav-items a:hover {
    color: #ffffff;
}


.nav-items a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #e0b36a;
    transition: all .5s;
}


.nav-items a:hover::before {
    width: 100%;

}


/* this is where i style my logo */

.logo {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 2px;
    width: 10%;
    transition: 1s;
}





.logo:hover {
    transform: scale(1.3);
    box-shadow: #3d3d3d;  
}


.logo img {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 60%;

}




/* This is where I styled the sign-ups */

.nav-signup {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 14px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    /* justify-content: center; */
    /* gap: 60px; */
}


.nav-signup:hover input {
    width: 200px;
}

.nav-signup input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 400;
    transition: 1s;
    background: transparent;
}


.nav-signup a .fa-solid {
color: #ac2922;
font-size: 20px;
}


.nav-signup a {
    color: #ffffff;
    font-size: 25px;
}


.user-account {
    color: white;
    font-size: 25px;
}
/* this is where I style the hero */



.hero {
    width: 50%;
    /* margin: auto; */
    margin-left: 15%;
    padding-top: 15%;
    color: white;
}

.hero h1 {
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px;
}

@font-face {
    font-family: getLost;
    src: url("../fonts/Photograph\ Signature.ttf");
}

.hero h3 {
    font-family: getLost;
    font-size: 20px;
    text-align: justify;
    width: 60%;
    letter-spacing: 5px;

}

.hero p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.hero button {
    background-color: #DC413D;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid white;
}

.share {
    margin-left: 10px;
}

.share a {
    color: white;
    padding: 5px;
}



/* this is where I style the section */


/* this is where i style the latest album view */





.latest-album {
  padding: 20px;
  margin-top: 7%;
}


.latest-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 30px;
    width: 80%;
    padding: 20px;
}



.latest-album h1 {
    display: inline;
    font-size: 50px;
}



.diff-color2 {
    color: #DC413D ;
    margin-left: 20px;
}

.latest-album button {
    display: block;
    background-color: white;
}

.latest-text {
    width: 30%;
    color: white;
    line-height: 1.4;
}

.latest-text p {
    margin: auto;
    line-height: 2;
    text-align: justify;
    margin-top: 40px;

}

.latest-buttons {
    display: flex;
    gap: 10px;
}

.latest-text button {
    background-color: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #dc423dd7;
}


.latest-share i {
    margin-left: 10px;
    padding: 1px 15px 1px 5px ;
    

}

.latest-text a {
    color: white;
}


.latest-image {
    width: 20%;
}

.latest-image i {
    color: white;
}


.latest-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: solid white;
}

em {
    color: white;
    font-size: small;
}


/* this is where i style the song tables */

.Listen h1 {
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
    font-size: 30px;
}


.main-container {
    width: 70%;
    height: 70%;
    margin: auto;
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 25px;
}

.main-container a {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}


.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.753);
}


.grid-container {
    display: grid;
    gap: 18px;
    margin-bottom: 20px;
    transition: 1s;
}

.grid-container:hover {
    transform: scale(1.3);
    box-shadow: #3d3d3d;
     
}


.album-title {
    font-weight: 600;
}


.artist-name {
    font-size: 14px;
}

hr {
    width: 85%;
    margin: auto;
}

/* This is where I style the subscription */

.sus-info {
    color: white;
    text-align: center;
    margin-top: 10%;
}


.subscription {
    padding: 40px;
    margin-bottom: 7%;
}

.sub-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    width: 50%;
    margin: auto;
    box-shadow: 1%;
    color: #ffffff;
}


.daily, .monthly, .lifetime {
    border: 2px solid white;
    border-radius: 20px;
    display: grid;
    text-align: center;
    padding: 15% 0%;
}


.daily li, .monthly li, .lifetime li {
    margin-top: 50px;
}

.daily button, .monthly button, .lifetime button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #DC413D;
    margin: 70px 40px;

} 

.daily a, .monthly a, .lifetime a {
    color: white;
    letter-spacing: 1px;
}

/* this where I style the footer */


footer {
    background-color: #ac2922;
}


.footer-mContainer {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
}


.logo-container {
    width: 20%;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.sus-updates {
    width: 50%;
}


.quick-links h3 {
    color: white;
}


.quick-links a {
color: white;
}

.quick-links h3 {
    color: #000000;
    font-size: 22px;
}


/* this is where i style the timer */

.timer-container {
    /* background-color: #6d6d6d; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin: auto;
    gap: 30px;
    width: 90%
    
}


.timer {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-left: 50px;
}

.timer div {
flex-basis: 00px;
}


.timer-text {
    color: white;
}


.timer-text span {
    color: #DC413D;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px 10px;
}


.timer-text h1 {
    font-size: 40px;
}

.timer-text p {
    font-size: large;
    text-align: end;
    margin-top: -6px;
}


.timer-text button {
    background-color: #DC413D;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 13px 10px 13px;
    margin-top: 30%;
}

.timer-text a {
    color: white;
}

.timer-image {
    width: 20%;
}


.timer-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: 1px solid white;
}


.timer p {
    color: white;
    font-size: 40px;
    font-weight: 700;
}


.timer span {
    color: #ffffff;
}





/* This is where I style the footer socials */

.socials i {
    color: white;
    margin-top: 30px;
}

.music a {
    color: white;
}



